* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.headerContainer {
    position: fixed;
    
    width: 100%;
    /* background-color: #060b2c; */
    background-color: #16023b;
    /* background-color: #11172d; */
    display: flex;
    gap: 300px;
    align-items: center;
    z-index: 100;
}

.logoContainer {
    width: 100px;
    height: 100px;
}

.logoContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}








.linksContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 10px;
    width: 40%;
    border-radius: 25px;
    height: 30px;
}

.link {
    cursor: pointer;
    /* color: rgb(200, 255, 0); */
    color: whitesmoke;
    position: relative;
    font-size: 20px;
    padding: 8px 20px;
    transition: color 0.5s;
    text-decoration: none;
}


.link::after {
    content: "";
    position: absolute;
    text-align: center;
    width: 90%;
    height: 3px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.link:hover::after {
    visibility: visible;
    transform: scaleX(1);
}

.link:hover::before {
    transform: scaleX(0);
}

.link:hover {
    border: none;
    /* color: #ff9f0e; */
    color: #20ec09;
}
