.projectsHeading{
  padding: 50px 10px;
  font-size: 50px;   
  font-weight: 900; 
  color: white;
  font-family: Arial, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;

}
.timeline-container {
  position: relative;
  max-width: 1200px;
  margin: auto;
  padding: 40px 0;
  /* overflow: hidden; */
}

.timeline-line {
  position: absolute;
  width: 4px;
  background-color: #00d1ff;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -2px;
}

.timeline-line::before {
  content: '';
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  background-color: #00d1ff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 209, 255, 0.7);
  border: 2px solid #fff; /* Optional: adds a white border around the circle */
}

.timeline-card {
  position: relative;
  width: 35%;
  padding: 20px;
  border: 2px solid whitesmoke;
  border-radius: 10px;
  margin: 20px 0;
  background: #1e1e2a;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  height: 330px;
}

.timeline-card.left {
  left: 12%;
}

.timeline-card.right {
  left: 53%;
}

.timeline-card::before {
  content: '';
  position: absolute;
  top: 10px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline-card.right::before {
  left: -30px;
  border-width: 20px 20px 20px 0;
  border-color: transparent #00d1ff transparent transparent;
  
}

.timeline-card.left::before {
  right: -30px;
  border-width: 20px 0 20px 20px;
  border-color: transparent transparent transparent #00d1ff;
}

.timeline-content {
  padding: 20px;
  background: #282a3a;
  border-radius: 8px;
  position: relative;
  z-index: 1;
  text-align: center;
  transition: box-shadow 0.3s ease;
  height: 100%;
  perspective: 1000px;
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transition: transform 0.6s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding: 10px;
}

.card-front {
  z-index: 2;
  transform: rotateY(0deg);
}

.card-back {
  transform: rotateY(180deg);
}

.timeline-card:hover .card-front {
  transform: rotateY(180deg);
}

.timeline-card:hover .card-back {
  transform: rotateY(360deg);
}

.timeline-content h3 {
  margin: 0 0 10px;
  font-size: 24px;
  color: #00d1ff;
  letter-spacing: 2px;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.timeline-content img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.card-back p, .card-back span {
  font-size: 18px;
  color: white;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-family: 'Poppins', sans-serif;
  line-height: 1.4;
  color: #ffffff;
  padding: 7px;
}
